extends ../template

block variables
    - var title = "Добро пожаловать на страницу Дарья Коротковой"

block content
        .welcome
        section.section.buttonit
            a(class="buttonit__button" href="#") Авторизоваться
        div(class="flip-container" id="flip-toggle")
            .flipper
                section.section.user
                    div(class="user__desert")
                        p(class="user__main_img")
                        h1 Короткова Дарья
                        p.user__text Личный сайт full-stack программиста
                        ul.socials
                            li.socials__s
                                a(class="socials__vk" href="https://vk.com/id610196")
                                    img(src="/assets/images/vk.svg")
                            li.socials__s
                                a(class="socials__git" href="")
                                    img(src="/assets/images/github.svg")
                            li.socials__s
                                a(class="socials__face" href="")
                                    img(src="/assets/images/in.svg")
                        .menu    
                            ul.menu__list
                                li.menu__list-pos
                                    a(class="menu__list-but" href="/about.html") Обо мне 
                                li.menu__list-pos
                                    a(class="menu__list-but" href="/my-works.html") Портфолио 
                                li.menu__list-pos
                                    a(class="menu__list-butl" href="/blog.html") Блог
                include login.pug
        footer.licence
            div(class="licence__foot")
                p(class="licence__foot-fp") Короткова Дарья |
                p(class="licence__foot-fp") Создано в loftschool |
                p(class="licence__foot-fp") 2017

    
        



    
