section.section.login
    .login__desert
        h1.login__title Авторизуйтесь
        form(class='login')
            .login__fields
                .login__fields-e
                    img(src="/assets/images/login.svg").login__icon-e
                    input(class="login__email"  data-constraints="@Required" required name="email" id="email" placeholder="Логин")
                .login__fields-p
                    img(src="/assets/images/password.svg").login__icon-p
                    input(class="login__pass" type="password"  data-constraints="@Required" required name="password" id="password" placeholder="Пароль")
                .login__checkbox
                    input(type='checkbox' name='agreement' checked)
                    label(for="agreement") Я человек
                p.login__p Вы точно не робот?
                .login__questions
                        
                    input(type='radio' name='yes' checked)
                    label(for="yes") Да
                        
                    input(type='radio' name='no')
                    label(for="no") Нет
                .menu__login
                    a(class="menu__login-link" href="/index.html") На главную
                    input(type="submit" class="login__but" value="Вход")
                            
     
