.block-title-u::before{background-image: url('/assets/images/ellipse-4.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;}
.block-title-u{color:#fff;text-transform: uppercase;font-size:35px;padding: 10px;}
.block-title-u::after{background-image: url('/assets/images/ellipse-4-1.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;}
.blog__treug{
    background: url("/assets/images/bg.svg") no-repeat center top;
    width: 100%;
    height: 11%;
    margin-top: 17%;
    position: absolute;
    }
.section.blog{color:#696969;background-color: #FBF8F1;}
.blog__art{display:flex; text-align: center;}
.blog__nav-spisok{list-style: none; padding: 30px;}
.blog__nav-spisok li{padding: 10px;}
.blog__nav-spisok li a {text-decoration: none;color:#696969; padding: 20px;}
.blog__nav-spisok li a:hover{color:#e7a731; border-right: 1px solid #e7a731;}
.blog__nav-hr.active{color:#e7a731; border-right: 1px solid #e7a731;}
.blog__nav{width: 20%;float: left;text-align: left;
    margin-top: 22px;
    line-height: 26px;}
.blog__arcticle{text-align: left;
    margin-top: 62px;
    width: 70%;
    float: left;}
.blog__arcticle p{font-size: 13px;padding: 10px;}
.blog__date {color:#e7a731;font-size: 13px; padding: 15px;}

@media all and (max-width: 780px)
{
    .socials{
        display: flex;

    }
    .socials__item{padding: 0px;}
    .hero__title {
        margin-top: 73px;
        width: 100%;
        margin-left: -23%;
    }
    .header{height: 500px;}
    .blog__treug{margin-top: 87%;
        height: 7%;}
    .blog__nav{display: none;}
    .footer__row {
        display: flex;
        width: 100%;
    }
    .menu__footer{padding: 0px;}
    .map__footer.footer{font-size: 13px;}
    .container{margin-top:10px;text-align: center;}
    .footer__text.footer__text_margin_top{
        border-bottom: 1px solid #fff;
    }
}
@media all and (max-width: 320px)
{
    .hero__title {
        margin-left: -30%;
    }
    .blog__treug{margin-top: 93%;}
}

.blog-article {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 4px solid rgba(55, 62, 66, 0.07); }
    @media (min-width: 768px) {
      .blog-article {
        margin-top: 49px;
        padding-bottom: 49px; } }
    @media (min-width: 1200px) {
      .blog-article {
        margin-top: 62px;
        padding-bottom: 68px;
        border-width: 5px; } }
    .blog-article:first-child {
      margin-top: 0; }
    .blog-article:last-child {
      padding-bottom: 0;
      border-bottom: none; }
    .blog-article__header {
      margin-bottom: 8px; }
      @media (min-width: 1200px) {
        .blog-article__header {
          margin-bottom: 18px; } }
    .blog-article__title {
      margin: 0 0 8px;
      color: #566358;
      font: 21px/28px "Sansus", Arial, "Helvetica Neue", Helvetica, sans-serif; }
      @media (min-width: 768px) {
        .blog-article__title {
          font-size: 30px;
          line-height: 36px; } }
      @media (min-width: 1200px) {
        .blog-article__title {
          margin-bottom: 17px;
          font-size: 35px;
          line-height: 41px; } }
    .blog-article__datetime {
      color: #e7a731; }
    .blog-article__text {
      line-height: 1.5; }
      @media (min-width: 1200px) {
        .blog-article__text {
          line-height: 1.625; } }
      .blog-article__text p {
        margin: 0 0 0.7142857143em; }
        @media (min-width: 1200px) {
          .blog-article__text p {
            margin-bottom: 0.5625em; } }
        .blog-article__text p:last-child {
          margin-bottom: 0; }





.blog {
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;
                -ms-flex: 1 0 auto;
                    flex: 1 0 auto; }
@media (min-width: 1200px) {
    .blog {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -webkit-flex-direction: row-reverse;
                    -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                    -ms-flex-pack: center;
                        justify-content: center; } }
    .blog__main {
              padding: 30px 10px; }
@media (min-width: 768px) {
    .blog__main {
                  padding: 48px 24px; } }
@media (min-width: 1200px) {
    .blog__main {
                  padding: 61px 0 48px 50px;
                  -webkit-box-flex: 1;
                  -webkit-flex: 1 0 783px;
                      -ms-flex: 1 0 783px;
                          flex: 1 0 783px; } }
@media (min-width: 1800px) {
        .blog__main {
                  -webkit-flex-basis: 1184px;
                      -ms-flex-preferred-size: 1184px;
                          flex-basis: 1184px; } }
@media (min-width: 1200px) {
              .blog__article {
                max-width: 680px; } }
@media (min-width: 1800px) {
              .blog__article {
                max-width: 890px; } }
            .blog__sidebar {
              position: relative; }
@media (min-width: 1200px) {
                .blog__sidebar {
                  padding: 48px 50px 48px 0;
                  -webkit-box-flex: 1;
                  -webkit-flex: 1 0 300px;
                      -ms-flex: 1 0 300px;
                          flex: 1 0 300px; } }
@media (min-width: 1800px) {
                .blog__sidebar {
                  padding: 49px 66px 48px 0; } }
                  .sidebar {
                    position: fixed;
                    z-index: 90;
                    top: 0;
                    bottom: 0;
                    left: -270px;
                    width: 270px;
                    -webkit-transition: all .35s;
                    transition: all .35s;
                    -webkit-animation: hideSidebar .5s;
                            animation: hideSidebar .5s;
                    background-color: #e7a731;
                    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); }
                    @media (min-width: 1200px) {
                      .sidebar {
                        position: relative;
                        left: auto;
                        float: right;
                        width: 300px;
                        -webkit-transition: none;
                        transition: none;
                        -webkit-animation-name: none;
                                animation-name: none;
                        background-color: transparent; } }
                    @media (min-width: 1200px) {
                      .sidebar {
                        width: 380px; } }
                    .sidebar_open {
                      left: 0;
                      -webkit-animation: none;
                              animation: none;
                      box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2); }
                      @media (min-width: 1200px) {
                        .sidebar_open {
                          left: auto;
                          box-shadow: none; } }
                    .sidebar__toggle {
                      position: absolute;
                      z-index: 1;
                      top: 50%;
                      right: -9px;
                      display: block;
                      width: 60px;
                      height: 60px;
                      margin-top: -30px;
                      cursor: pointer;
                      -webkit-transition: all .2s;
                      transition: all .2s;
                      border-radius: 50%;
                      background-color: #e7a731;
                      box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2); }
                      @media (min-width: 1200px) {
                        .sidebar__toggle {
                          display: none; } }
                      .sidebar__toggle:hover, .sidebar__toggle:active {
                        box-shadow: 3px 0 8px rgba(0, 0, 0, 0.5); }
                    .sidebar__wrapper {
                      display: -webkit-box;
                      display: -webkit-flex;
                      display: -ms-flexbox;
                      display: flex;
                      overflow: auto;
                      height: 100%;
                      -webkit-box-pack: end;
                      -webkit-justify-content: flex-end;
                          -ms-flex-pack: end;
                              justify-content: flex-end;
                      -webkit-box-align: center;
                      -webkit-align-items: center;
                          -ms-flex-align: center;
                              align-items: center; }
                      @media (min-width: 1800px) {
                        .sidebar__wrapper {
                          display: block;
                          height: auto; } }
                    .sidebar__nav {
                      position: relative;
                      z-index: 2;
                      width: 100%;
                      max-height: 100%;
                      text-align: right;
                      background-color: #e7a731; }
                      @media (min-width: 1200px) {
                        .sidebar__nav {
                          position: static;
                          float: right;
                          width: 364px;
                          -webkit-transform: none;
                              -ms-transform: none;
                                  transform: none;
                          background-color: transparent; } }
                      @media (min-width: 1800px) {
                        .sidebar__nav {
                          width: 285px; } }
                    .sidebar__list {
                      margin: 0;
                      padding: 5% 10%;
                      list-style-type: none;
                      background-color: #e7a731;
                      font-size: 16px;
                      line-height: 26px; }
                      @media (min-width: 1200px) {
                        .sidebar__list {
                          padding: 21px 0 0;
                          background-color: transparent; } }
                    .sidebar__item {
                      margin-bottom: 30px; }
                      @media (min-width: 1200px) {
                        .sidebar__item {
                          margin-bottom: 11px; } }
                      .sidebar__item:last-child {
                        margin-bottom: 0; }
                    .sidebar__link {
                      display: block;
                      -webkit-transition: all .35s;
                      transition: all .35s;
                      text-decoration: none;
                      opacity: 0.7;
                      color: #fff; }
                      @media (min-width: 1200px) {
                        .sidebar__link {
                          padding: 8px 17px;
                          opacity: 1;
                          color: #566358;
                          border-right: 3px solid transparent; } }
                      .sidebar__link:hover, .sidebar__link:active, .sidebar__link.active {
                        opacity: 1; }
                        @media (min-width: 1200px) {
                          .sidebar__link:hover, .sidebar__link:active, .sidebar__link.active {
                            color: #e7a731;
                            border-color: #e7a731;
                            font-weight: 700; } }
                  
                  @-webkit-keyframes hideSidebar {
                    0% {
                      left: 0; }
                    100% {
                      left: -90%; } }
                  
                  @keyframes hideSidebar {
                    0% {
                      left: 0; }
                    100% {
                      left: -90%; } }

#top-menu {
    position: fixed;
   
   
  }
  #top-menu li.active a {
    color: #e7a731;
    border-color: #e7a731;
    font-weight: 700; 
  }