section.section.hero{
    width: auto;
    margin: 0 auto;
    display: flex;}
    
    .hamburger.hero__menu {
        background: transparent url(/assets/images/hamburger.svg) no-repeat right;
        border: medium none;
        cursor: pointer;
        height: 37px;
        width: 100%;
        margin-right: 34px;
        margin-top: 10px;
    }
    .socials__item{display:inline-block; margin-left: 10px;}
    .hero__socials{width:100%; margin-left: 20px;margin-top: 10px;}
    .user__pic-img{
        background-image: url(/assets/images/ya2.jpg);
        background-size: cover;
        width:150px;
        height:150px;
        border-radius: 200px;
    }
    .hero__title{
        margin-top: 58px;
        width: 100%;
    margin-left: 3%;}
    .user__description{text-align: center;line-height: 30px;}
    .user__name{
        font-family: "Roboto-Medium";
        font-weight: 500;
        font-variant: small-caps;
        letter-spacing: 1px;}
    .user__info{
        font-family: Roboto-Light;
        font-weight: 600;}
    .arrow-down.hero__scroll-btn{
        position: absolute;
        z-index: 10;
        top: 19%;
        left: 49%;
        text-align: center;
        background: url("/assets/images/arrow-down.png") no-repeat;
        border: medium none;
        cursor: pointer;
        width: 50px;
        height: 50px;
}
.blog__treug{
    background: url("/assets/images/bg.svg") no-repeat center top;
    width: 100%;
    height: 100%;
    margin-top: -4%;
    
}
@media all and (max-width: 320px)
    {
        
        .hero__title {
            margin-left: 0%;
        }
     
        
}


@media all and (max-width: 360px){
    
    .block{margin-top:-10px;}
    
}

@media all and (max-width: 780px)
{
    .arrow-down.hero__scroll-btn{top:14%;left: 46%;}
    .hero__socials{width:50%;margin-left: 0px;}
    .hamburger.hero__menu{width:10%;margin-right:10px;}
    .hero__title {
        margin-top: 73px;
        width: 100%;
        margin-left: -26%;
    }
    .header{height: 500px;}
    .footer__text.footer__text_margin_top {
        margin-bottom: 10px;
    }
    .map__footer.footer{flex-wrap:wrap;}
    .container-r {
        text-align: center;
    }
    .footer__col.footer__col-right{margin-bottom: 10px;}
    .blog__nav{display: none;}
    .section.blog{margin-top:-15px;}
    .container-f{border-right:0px; border-bottom: 1px solid #fff;width:100%;}
    .menu_footer{text-align: center;}
    .socials{text-align: center;}
    
}
    